.wrap {
  width: 100%;
}

.contentWrap {
  max-width: 768px;
  padding: 130px 0;
  margin: 0 auto;
}

.contentWrapForMobile {
  width: 100%;
  padding: 32px 16px;
}

.answer {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
